[Unit]
Description=Celebrate
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
Environment=HOME=/home/pi/
Environment=MIX_ENV=prod
WorkingDirectory=/home/pi/celebrate
ExecStart=/usr/bin/mix phx.server

[Install]
WantedBy=multi-user.target
