

<div style="position: absolute; top: 10px; left: 120px;">
  <span style="font-size: 36px; font-style: normal; font-weight: lighter; font-family: 'Open Sans', sans-serif;">
    Celebrations ...
  </span>
</div>

<div id="workspace" style="position: absolute; top: 90px; left: 90px;">
  <%= Wiring.all %>
</div>
